html{
  height: 100%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  background: #fff;
  color: #333D4B;
  position: relative;
} 

img{
  width: 100%;
  height: auto;
}

main {
  margin-top: 105px;
  flex-grow: 1;
}

@media only screen and (min-width: 1000px){
  main{
    margin-top: 120px;
  }
}
